.sidenav-container {
  height: 100%;

}
span{
  color: white;
  width: inherit;
  font-weight: bold;
}
.sidenav {
  width: 300px;
  color: white;
  background-color: white;
}
.mat-list-item{
  color: black;
}
.mat-toolbar {
  text-align: center;
  background-color: black;
}
.sidenav .mat-toolbar {
  background-color: black;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}